div.main
 div.header
  div.header_resize
   div.menu_nav
   div.logo
    h1
     a(href="#") Gerenciador de Formulários
      small Mais simples impossível
   div.clr
 div.content
  div.content_resize
   div.mainbar
    div.article#principal
     h2.star
      span #{title}
     p Bem vindo ao gerenciador de formulários. Se a primeira vez que você usa está ferramenta clique 
      a(href='doc.html') aqui 
      para ter acesso a documentação.
   div.sidebar
    div.gadget
     h2.star
      span Menu Lateral
     div.clr
     ul.sb_menu
      li: a(href='formularios') Formulários
      li: a(href='configuracao') Configurações
      li: a(href='documentacao') Documentação
 div.clr
 div.fbg
  div.fbg_resize
   div.col.c1
   div.col.c2
   div.col.c3
   div.clr
 div.footer
  div.footer_resive
   div.clr
   
 

         