!!!
html
head
title #{title}
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascripts/jquery.js')
script(src='/javascripts/principal.js')
script(src='/javascripts/cufon-yui.js')
script(src='/javascripts/arial.js')
script(src='/javascripts/cuf_run.js')
script(src='/javascripts/radius.js')
body!= body
